<h1><%= @movie.title %></h1>
<h2><%= @movie.year %></h2>
<h3><%= @movie.plot %></h3>
<h4><%= @movie.director %></h4>

<p>Choose the genre you'd like to see!<br>
  <label>Action
    <input type="radio" checked name="action">
  </label>
  <label>Mystery
    <input type="radio" name="mystery">
  </label>
  <label>Animation
    <input type="radio" name="animation">
  </label>
</p>



